body {
  padding: 10px;
  font-family: sans-serif;
}

.custom-style {
  box-shadow: 0 1px 5px rgba(0,0,0,0.65);
  --icon-width: 26px;
  --icon-height: 26px;
  --active-height: 40px;
  --close-button-max-size: 12px;
  --icon-button-max-size: 18px;
  --primary-color: #000000;
  --secondary-color: rgba(141, 141, 141, 0.639);
  --border-color: rgba(0,0,0,.2);
  --border-size: 0px;
  --main-background-color: #ffffff;
  --background-color-candidate: #5a6673;
  --background-color-hover: #5a6673b3;
  --background-color-active: #50c3bd;
  --svg-stroke-width: 5px;
}

.FAQ {
  height: 100px;
}

.search-container .list-item__center { background-image: none; }

/* */
.border-top { border-top: 1px solid #cccccc; }

/* Info, success, warning, and error messages
 *
 * Adapted from https://isabelcastillo.com/error-info-messages-css#jl-down-2
 */

.isa_info {
  color: #00529B;
  background-color: #BDE5F8 !important;
}
.isa_success {
  color: #4F8A10;
  background-color: #DFF2BF !important;
}
.isa_warning {
  color: #9F6000;
  background-color: #FEEFB3 !important;
}
.isa_error {
  color: #D8000C;
  background-color: #FFD2D2 !important;
}

.isa_custom {
  color: #00529B;
  background-color: #FFD600 !important;
}
